* {
    border: black;
    color: black;
    box-sizing: border-box;
}
$font-header:30px;
.h1 {
    font-size: 35px;  
    padding-top: 2rem;
}
.h2 {

font-size: 30px;


}
 section {  
align-content: center;  
 
   
    

     }
