.nav{
    max-width: 1000px;
    margin: 0 auto;
    // padding: 1rem 4rem 1rem 4rem;
    align-items: center;
    img{
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
    }
}

footer{
    display: flex;
    margin: -4rem auto;
    padding:4rem 0 3rem 0;
    flex-direction: column;
    text-align: center;
    max-width: 1000px;
    @media (max-width: 360px) {
        h2{
            font-size: 1.5rem;
        }
    }
}
main{
    margin: 0 auto;
    max-width: 1000px;
    .img_main{
        width: 100%;
        height: 100;
        object-fit: contain;
    }

}