* {
    border: black;
    color: black;
    box-sizing: border-box;
}
$font-header:30px;

h2 {

font-size: 30px;


}
.col-12 {
    font-size: 35px;
}
section {  
align-content: center;  
  width: 100vw;
//   height: 40vh;
    img {
         max-width: 70vw;
        // height: 40vh;

    }
}