.nav{
    max-width: 1000px;
    margin: 0 auto;
    // padding: 1rem 4rem 1rem 4rem;
    align-items: center;
    img{
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
    }
}


footer{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    max-width: 1000px;
}