<<<<<<< HEAD

=======
>>>>>>> e259bab1a7ce7c8359614b7668e292c37e8d8918
.nav{
    max-width: 1000px;
    margin: 0 auto;
    // padding: 1rem 4rem 1rem 4rem;
    align-items: center;
    img{
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
    }
}
<<<<<<< HEAD
=======


footer{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    max-width: 1000px;
}
>>>>>>> e259bab1a7ce7c8359614b7668e292c37e8d8918
