* {
    box-sizing: border-box;
}






h2 {
    color: black;
    margin-top: 2rem;
}
main {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

p {
    size: 18px;
    color: black;
}
.container {
    size: 18px;
    color: black;
    
}


.card-header {
    color: black;
}

.bag-text {

    font-style: italic;
    margin: 2rem 0rem 1rem 0rem;
   
}


.card-text {
    font-style: italic;
}

.con {
    padding-bottom: 5rem;
}